[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysql]
prompt="\u@mysqldb \R:\m:\s [\d]> "
no-auto-rehash
default-character-set = utf8mb4

[mysqld]
user = mysql
port = 3306
skip-name-resolve

# for confluence
character-set-server = utf8mb4
collation-server = utf8mb4_bin
transaction-isolation = READ-COMMITTED

max_connections       = 2048
max_connect_errors    = 100
wait_timeout          = 86400
max_allowed_packet    = 256M
table_open_cache      = 2048
back_log              = 600

default-storage-engine = innodb
binlog_format=row
log_bin_trust_function_creators = 1

# Log
general_log=off
general_log_file =  /data/mysql/logs/mysql.log
log-error = /data/mysql/logs/error.log

#slowlog慢查询日志
slow_query_log = 1
slow_query_log_file = /data/mysql/logs/slow.log
long_query_time = 2
log_output = FILE
log_queries_not_using_indexes = 0

#global_buffers
innodb_buffer_pool_size = 2G
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 2
key_buffer_size = 64M

innodb_log_file_size = 2G
innodb_log_files_in_group = 2
innodb_data_file_path = ibdata1:20M:autoextend

secure_file_priv = /var/lib/mysql
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

[mysqldump]
quick
max_allowed_packet = 32M